<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.demo.post.repository.PostMapper">

    <update id="incrementHit">
        UPDATE post SET view_count = view_count + 1 WHERE post_id = #{id}
    </update>

    <update id="updatePost">
        UPDATE post 
        SET title = #{title}, content = #{content} 
        WHERE post_id = #{id}
    </update>

    <select id="findById" resultType="project.demo.post.PostEntity">
        SELECT * FROM post WHERE post_id = #{id}
    </select>

    <insert id="save" parameterType="project.demo.post.PostEntity">
        INSERT INTO post (title, content, view_count) 
        VALUES (#{title}, #{content}, #{viewCount})
    </insert>

    <select id="findAll" resultType="project.demo.post.PostEntity">
        SELECT * FROM post
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM post WHERE post_id = #{postId}
    </delete>

</mapper>
